html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

.container{
	height: 100%;
	display: flex;
}

main {
	height: 100%;
	width: 100%;
	background-color: black;
	position: relative;
}

main canvas {
	height: 100%;
	width: 100%;
	position: absolute;
}

.menu-container{
	background-color: #222;
	display: flex;
}

.menu-container .handle{
	background-color: #4173a1;
}

.menu-container .menu{
	width: 100%;
	height: 100%;
}